.main {
  overflow: hidden;
}

.hero {
  position: relative;
  isolation: isolate;

  display: grid;
  place-items: center;

  min-block-size: 37.5rem;
}

.composition {
  min-width: 1500px;
  max-width: 1500px;

  margin-inline: auto;
  color: var(--color-black);

  z-index: -1;
  position: absolute;
  user-select: none;
  transform: translateX(-5px);
}

.composition svg {
  overflow: visible;
}

.skill-list {
  --vertical-space: var(--space-r-6);
  --horizontal-space: var(--space-r-5);
  --justify-content: center;

  @media screen and (max-width: 48rem) {
    --vertical-space: var(--space-r-5);
    --horizontal-space: var(--space-r-4);
  }
}

.skill-list svg {
  opacity: 0.9;
  block-size: 50px;
}

.skill-item {
  --space: var(--space-r-1);
}

.projects {
  --space: var(--space-r-6);
}
